html {
  background: url("background_53876-32169.jpg") no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

.header {
  background-color: #7095CC;
  width: auto;
  height: auto;
  font-family: 'Cormorant SC', serif;
  font-size: 55px;
  /* border-style: solid;
  border-color: black; */
}
.bodyText {
  font-family:"Georgia";
  font-size: 20px;
  font-style: italic;
  border-style: solid;
  border-color: #:#0c0d17;
  padding: 1em;

}
.text {
  text-indent: 50px;
}

#titleText {
  border-style: solid;
  border-color: black;
}
.navbar {
  font-size: 1.8em;
  top: 0%;
  left: 50%;
  right: 0%;
  font-family: "Georgia";
}
.fa {
  padding: 5px;
  font-size: 10px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.socialIcons{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  padding: 5px;
  font-size: 25px;
}
